<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Calculadora online</title>
        <style>
            body{ 
                background-image:url('209037.gif');
            }
            
        </style>
            
    </head>
    <body>
        <h1>Calculadoraaaa</h1>
        <div class="bonitinho"></div>
        <form method="POST">
            
            <input type ="number" name="num1" placeholder="Primeiro numero">
            <input type ="number" name="num2" placeholder="Segundo numero">
            <select name="operacao" placeholder="operador">
                <option value="somar"> + </option>
                   <option value="subtrair"> - </option>
                   <option value="multiplicar"> * </option>
                   <option value="dividir"> / </option>
            </select><br><br>
            </div>
              <input type="submit" name="Calcular">
        </form>
    </body>
</html>